!!! Strict

%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en',  'lang' => 'en'}

  %head
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print',  :media => 'print'
    /[if lt ie 8]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = stylesheet_link_tag 'default'

    %title= h(controller.action_name.humanize) 
    
  %body
    #outer
      #login_bar= render :partial => 'layouts/login_bar'
      #nav_bar= render :partial => 'layouts/nav_bar'
      #inner
        = yield


